<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%n[%d{HH:mm:ss.SSS}] %logger{1}%n%level - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>